<h1><%= @title %></h1>
<h3>Ever wanted to track your matches against someone in Smash? Look no further!</h3>
<p>Just login, post your matches, and keep track in the leaderboards to see where you rank with your wins and losses!</p>
<%= link_to image_tag("smash_bros.png", alt: "Smash Bros", size: "320x214" ), home_path %>
