<h2>The winner is <%= @match.winner %>!</h2>
<%= link_to "Edit", edit_match_path(@match), :class => "button button--color-secondary" %>
<%= link_to "Delete", match_path(@match), method: :delete, data: {confirm: 'Are you sure?'}, :class => "button button--color-red" %>
